@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --BACKGROUND_COLOR :hsl(222, 26%, 31%);
    --KEYPAD_COLOR :hsl(223, 31%, 20%);
    --RESULT_COLOR : hsl(224, 36%, 15%);
    --KEY_BACKGROUND_1 : hsl(30, 25%, 89%);
    --KEY_BACKGROUND_TOGGLE : hsl(6, 63%, 50%);
    --KEY_BACKGROUND_2 : hsl(225, 21%, 49%);
    --KEY_SHADOW_1 : hsl(28, 16%, 65%);
    --KEY_SHADOW_TOGGLE : hsl(6, 70%, 34%);
    --KEY_SHADOW_2: hsl(224, 28%, 35%);
    --TEXT_COLOR_1: hsl(221, 14%, 31%);
    --TEXT_COLOR_2: white;
    --TEXT_COLOR_3: white;
    --EQUAL_COLOR_3: white;

    --maxWidth : 520px;
    --offset-y : 3px;


}

body{
    background: var(--BACKGROUND_COLOR);
    font-family: 'Spartan', sans-serif;
    font-size: 32px;
    color: var(--TEXT_COLOR_2);
    /* display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden; */

}
.__header{
    display: flex;
    margin: 0 auto;
    margin-top: 80px;
   max-width: var(--maxWidth); 
   justify-content: space-between;
   align-items: center;

}
.__theme_change{
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: end;
    gap: 25px;

}
.__theme_change small{
    align-self: center;
    margin-top: 15px;
}
.__labels{
    display: flex;
    justify-content: space-around;
}
.__states{
    background: var(--KEYPAD_COLOR);
    border-radius: 15px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    width: 65px;
}
.__states input{
    position: absolute;
    opacity: 0;
    width: 0;
}
.__states input + label {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    transition: all .5s ease;
  }
.__states input:checked + label{
    background-color: var(--KEY_BACKGROUND_TOGGLE);
}
.__title{
    font-size: 26px;
}
.__result{
    background: var(--RESULT_COLOR);
    max-width: var(--maxWidth);
    margin: 0 auto;
    padding: 25px;
    text-align: end;
    border-radius: 5px;
    margin-top: 25px;
}

.__keypad{
    background: var(--KEYPAD_COLOR);
    max-width: var(--maxWidth);
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
    border-radius: 8px;
}
.__keypad_grid{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4,1fr);
}

#reset{
    grid-column: 1/3;
}
.btnNumber{
    background: var(--KEY_BACKGROUND_1);
    color :var(--TEXT_COLOR_1);
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    padding: 9px ;
    border: none;
    outline: none;
    border-radius: 8px;
    transition: box-shadow .1s ease-in;
    cursor: pointer;

   
}
.btnNumber:not(#del,#reset,#equal){
    box-shadow: 1px var(--offset-y) var(--KEY_SHADOW_1);
}
.btnNumber:not(#del,#reset,#equal):active{
    box-shadow: none;
}
#del,#reset,#equal{
    background: var(--KEY_BACKGROUND_2);
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px ;
    color: var(--TEXT_COLOR_3);
    box-shadow: 1px var(--offset-y) var(--KEY_SHADOW_2);
}
#equal{
    grid-column: 3 /-1;
    box-shadow: 1px var(--offset-y) var(--KEY_SHADOW_TOGGLE);
    background: var(--KEY_BACKGROUND_TOGGLE);
    color: var(--EQUAL_COLOR_3);
}
#del:active,#reset:active,#equal:active{
    box-shadow: none;
}
.__wrapper{
    margin: auto;
}

@media only screen and (max-width: 500px){
    :root{
        --maxWidth: 320px;
        --offset-y : 4px;
    }
    #del,#reset,#equal{
      
        font-size: 16px;
        
      
    }
    #reset,#equal{
        padding: 20px 0;
    }
    .__header{
        margin-top: 35px;
    }
    .__keypad{
        margin-top: 30px;
    }
    .btnNumber{
        font-size: 24px;
        padding: 14px 0;
        
    }
    
}